
h3 {
    color: blue;
}
h2.headertekst {
    text-align: center;
    background-color: blue;
    color: white;
  }
td.colorset{
    color:green;
}
td.colorget{
    color: purple;
}
h2.headertcontent {
    text-align: center;
    background-color: orange;
    color: black
}
h2.headertcontext{
    text-align:  center;
    background-color: #4bd69f;
    color: white
}
h2.headeresult{
    text-align: center;
    background-color: #734ddb;
    color:white
}
h2.headeruser{
    text-align: center;
    background-color: red;
    color: white;
}
.forimage {
    width: 900px;
    margin:left;
}
.forimage img {
    float:left;
    padding:0 10px 10px 0;
}