{% extends 'base.html' %}
{% block page_content %}
<h1>
<th scope="col">Performance Datas</th> 
</h1>
<table class="table table-striped">
<h3>Node Status</h3>
        {% for v in client_cassandra %}
        <tr> 
        <td>  {{ v.address }} </td>  
        </tr> 
        {% endfor %}
</table>
<table class="table table-striped">
<h3>Usage statistics</h3>
        {% for result in client_info %}
        <tr> 
        <td>  {{ result }} </td>  
        </tr> 
        {% endfor %}
</table>
<table class="table table-striped">
<thead>
<tr>
<th>Pool Name</th>
<th>Active</th>
<th>Pending</th>
<th>Completed</th>
<th>Blocked</th>
<th>All time blocked</th>
</tr>
</thead>
        <h3>Usage table</h3>
                {% for rise in client_tpstat %}
                <tr> 
                <td>  {{ rise.pool }} </td>
                <td>  {{ rise.active }} </td>
                <td>  {{ rise.pending }} </td>
                <td>  {{ rise.completed }} </td>
                <td>  {{ rise.blocked }} </td>
                <td>  {{ rise.all_blocked }} </td>
                </tr> 
                {% endfor %}
</table>
<table class="table table-striped">
<thead>
<tr>
<th>Snapshot Name</th>
<th>Keyspace Name</th>
<th>Column Family Name</th>
<th>True Size</th>
<th>Size on Disk</th>
</tr>
</thead>
        <h3>Snapshots</h3>
                {% for x in client_listsnapshot %}
                <tr> 
                <td>  {{ x.snapshot_name }} </td>  
                <td>  {{ x.keyspace_name }} </td>  
                <td>  {{ x.column_name }} </td>  
                <td>  {{ x.true_size }} </td>  
                <td>  {{ x.size_disk}} </td>  
                </tr> 
                {% endfor %}
</table>

{% endblock %}