{% extends 'base.html' %}
{% block page_content %}
<h1>
<th scope="col">Performance Datas</th> 
</h1>
<table class="table table-striped">
<h3>Information for the cluster</h3>
        {% for v in result %}
        <tr> 
        <td>  {{ v }} </td>  
        </tr> 
        {% endfor %}
</table>
<table class="table table-striped">
        <h3>Tables with most disk usage (top 5)</h3>
                {% for s in tablesusage %}
                <tr> 
                <td>  {{ s }} </td>  
                </tr> 
                {% endfor %}
        </table>
<table class="table table-striped">
        <table class="table table-striped">
                <h3>Dead Tuples</h3>
                        {% for s in deadtuples %}
                        <tr> 
                        <td>  {{ s }} </td>  
                        </tr> 
                        {% endfor %}
                </table>
        <table class="table table-striped">
        <h3>Connection Number</h3>
                {% for s in connectionnum %}
                <tr> 
                <td>  {{ s }} </td>  
                </tr> 
                {% endfor %}
        </table>
<table class="table table-striped">
    <h3>Replication delay/lag</h3>
            {% for x in replication %}
            <tr> 
            <td>  {{ x }} </td>  
            </tr> 
            {% endfor %}
    </table>
<table class="table table-striped">
        <h3>Total Deadlock</h3>
        {% for k in deadlock %}
                <tr> 
                <td>  {{ k }} </td>  
                </tr> 
                {% endfor %}
</table>
<table class="table table-striped">
        <h3>Tables with most live rows</h3>
        {% for k in tablesrows %}
                <tr> 
                <td>  {{ k }} </td>  
                </tr> 
                {% endfor %}
</table>
<table class="table table-striped">
    <h3>Disk Usage</h3>
    {% for i in diskusage %}
            <tr> 
            <td>  {{ i }} </td>  
            </tr> 
            {% endfor %}
</table>
<table class="table table-striped">
    <h3>Active User</h3>
    {% for n in activeuser %}
            <tr> 
            <td>  {{ n }} </td>  
            </tr> 
            {% endfor %}
</table>
<table class="table table-striped">
        <h3>Logs</h3>
        {% for n in usagelogs %}
                <tr> 
                <td>  {{ n }} </td>  
                </tr> 
                {% endfor %}
    </table>


{% endblock %}